main {
    padding: 1em;
    text-align: left;
}

top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

questions {
    text-align: left;
}

.answers {
    width: 300px;
}

.questionContainer {
    display: flex;
    justify-content: space-between;
}

.green {
    background: #64e764;
}

.red {
    background: #ef7676;
}

.chart {
    height: 250px;
}

h1 {
    color: royalblue;
}

button {
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bold {
    font-weight: 700;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0.5em 0;
    color: gray;
}